# Игрнорируем временные файлы, генерируемые PyCharm
.idea/

# Игнорируем папку с кэшом Python
__pycache__/
*.py[cod]

# Игнорируем скомпилированные файлы Python
*.pyo
*.pyd

# Игнорируем скрытые файлы и папки, которые могут быть созданы PyCharm и другими IDE
*.swp
*~
*.bak

# Игнорируем файлы и папки, которые генерируются при сборке плагина QGIS
build/
dist/
*.egg-info/

# Игнорируем файлы конфигурации PyCharm, которые специфичны для вашей локальной среды
*.iml
.idea/*

# Игнорируем файлы, связанные с виртуальными окружениями Python
venv/
env/
*.env/

# Игнорируем все остальное, что не является частью исходного кода
.DS_Store
Thumbs.db
